<div id="recomendations" class="section">
  <div class="section-header">
    <h1>RECOMENDAÇÕES</h1>
  </div>
  <div id="recomendations-main" class="section-main">
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/3d.png" alt="" />
      </div>
      <h1 class="item-name">Impressora</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/carregador-sem-fio.png" alt="" />
      </div>
      <h1 class="item-name">Carregador</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/celular.png" alt="" />
      </div>
      <h1 class="item-name">Celular</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/controle.png" alt="" />
      </div>
      <h1 class="item-name">Controle</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/gabinete.png" alt="" />
      </div>
      <h1 class="item-name">Gabinete</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/interfone.png" alt="" />
      </div>
      <h1 class="item-name">Interfone</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/mouse.png" alt="" />
      </div>
      <h1 class="item-name">Mouse</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/placa-video.png" alt="" />
      </div>
      <h1 class="item-name">Placa de Vídeo</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
    <div class="item-pattern">
      <div class="show-item">
        <img src="recommendations/teclado.png" alt="" />
      </div>
      <h1 class="item-name">Teclados</h1>
      <div class="stars">
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star</mat-icon>
        <mat-icon class="material-icons-outlined">star_half</mat-icon>
      </div>
      <h3 class="item-price">R$ 90,00</h3>
    </div>
  </div>
</div>
