<div id="our-blogs" class="section">
  <div id="our-blogs-main" class="section-main">
    <div class="our-blogs-item">
      <div class="our-blogs-img">
        <img src="our-blogs/hackaton.jpg" alt="" />
      </div>
      <h1 class="date">Dia 15, julho de 2024</h1>
      <div class="separator"></div>
      <div class="title">Developer Day</div>
      <div class="description">
        Fique por dentro de todas as notícias sobre o maior Hackaton do Brasil!
      </div>
      <div class="read-more">
        <button class="read-more-button">Leia mais</button>
      </div>
    </div>
    <div class="our-blogs-item">
      <div class="our-blogs-img">
        <img src="our-blogs/hackaton.jpg" alt="" />
      </div>
      <h1 class="date">Dia 15, julho de 2024</h1>
      <div class="separator"></div>
      <div class="title">Developer Day</div>
      <div class="description">
        Fique por dentro de todas as notícias sobre o maior Hackaton do Brasil!
      </div>
      <div class="read-more">
        <button class="read-more-button">Leia mais</button>
      </div>
    </div>
    <div class="our-blogs-item">
      <div class="our-blogs-img">
        <img src="our-blogs/hackaton.jpg" alt="" />
      </div>
      <h1 class="date">Dia 15, julho de 2024</h1>
      <div class="separator"></div>
      <div class="title">Developer Day</div>
      <div class="description">
        Fique por dentro de todas as notícias sobre o maior Hackaton do Brasil!
      </div>
      <div class="read-more">
        <button class="read-more-button">Leia mais</button>
      </div>
    </div>
  </div>
</div>
