<div id="fields">
  <div class="fields-container">
    <div class="field">
      <img class="field-image" src="tablet.jpg" alt="" />
      <h3 class="field-name">Tablets</h3>
    </div>
    <div class="field">
      <img class="field-image" src="celular.jpeg" alt="" />
      <h3 class="field-name">Celulares</h3>
    </div>
    <div class="field">
      <img class="field-image" src="smartwatch.jpg" alt="" />
      <h3 class="field-name">Watches</h3>
    </div>
    <div class="field">
      <img class="field-image" src="notebook.jpg" alt="" />
      <h3 class="field-name">Notebooks</h3>
    </div>
    <div class="field">
      <img class="field-image" src="vr.jpg" alt="" />
      <h3 class="field-name">VRs</h3>
    </div>
    <div class="field">
      <img class="field-image" src="console.jpg" alt="" />
      <h3 class="field-name">Consoles</h3>
    </div>
  </div>
</div>
