<div id="fields">
  <div class="fields-container">
    <div class="field">
      <img src="tablet.jpg" alt="" />
      <h3>Tablets</h3>
    </div>
    <div class="field">
      <img src="celular.jpeg" alt="" />
      <h3>Celulares</h3>
    </div>
    <div class="field">
      <img src="smartwatch.jpg" alt="" />
      <h3>Watches</h3>
    </div>
    <div class="field">
      <img src="notebook.jpg" alt="" />
      <h3>Notebooks</h3>
    </div>
    <div class="field">
      <img src="vr.jpg" alt="" />
      <h3>VRs</h3>
    </div>
    <div class="field">
      <img src="console.jpg" alt="" />
      <h3>Consoles</h3>
    </div>
  </div>
</div>
