<div id="latest-brands" class="section">
  <div class="section-header">
    <h1>ÚLTIMAS PARCERIAS</h1>
  </div>
  <div class="logos">
    <div class="logos-slide">
      <img src="./latest-brands/adidas.png" />
      <img src="./latest-brands/brand.png" />
      <img src="./latest-brands/dnj.png" />
      <img src="./latest-brands/geek.png" />
      <img src="./latest-brands/roland.png" />
      <img src="./latest-brands/adidas.png" />
      <img src="./latest-brands/brand.png" />
      <img src="./latest-brands/dnj.png" />
      <img src="./latest-brands/geek.png" />
      <img src="./latest-brands/roland.png" />
    </div>
  </div>
</div>
<script>
  var copy = document.querySelector(".logos-slide").cloneNode(true);
  document.querySelector(".logos").appendChild(copy);
</script>
