main {
  display: flex;
  flex-direction: column-reverse;

  background-color: #e8e8e8;
}

@media only screen and (min-width: 600px) {
  main {
    flex-direction: row;
  }
}

:host {
  background-color: #e8e8e8;
}
