<header
  class="flex border-b py-4 pb-1 px-4 sm:px-10 bg-black text-white font-[sans-serif] min-h-[70px] tracking-wide relative z-50"
>
  <div class="flex flex-wrap items-center gap-3 w-full">
    <a href="javascript:void(0)"
      ><img
        src="https://readymadeui.com/readymadeui.svg"
        alt="logo"
        class="w-36"
      />
    </a>

    <div
      id="collapseMenu"
      class="max-lg:hidden lg:!block max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50"
    >
      <button
        id="toggleClose"
        class="lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-gray-700 p-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 fill-white"
          viewBox="0 0 320.591 320.591"
        >
          <path
            d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
            data-original="#000000"
          ></path>
          <path
            d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
            data-original="#000000"
          ></path>
        </svg>
      </button>

      <ul
        class="lg:flex lg:ml-14 lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-gray-800 max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50"
      >
        <li class="mb-6 hidden max-lg:block">
          <a href="javascript:void(0)"
            ><img
              src="https://readymadeui.com/readymadeui.svg"
              alt="logo"
              class="w-36"
            />
          </a>
        </li>
        <li class="max-lg:border-b max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="lg:hover:text-[#007bff] text-[#007bff] block font-semibold text-[15px]"
            >Home</a
          >
        </li>
        <li class="max-lg:border-b max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="lg:hover:text-[#007bff] text-gray-400 block font-semibold text-[15px]"
            >Team</a
          >
        </li>
        <li class="max-lg:border-b max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="lg:hover:text-[#007bff] text-gray-400 block font-semibold text-[15px]"
            >Feature</a
          >
        </li>
        <li class="max-lg:border-b max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="lg:hover:text-[#007bff] text-gray-400 block font-semibold text-[15px]"
            >Blog</a
          >
        </li>
        <li class="max-lg:border-b max-lg:py-3 px-3">
          <a
            href="javascript:void(0)"
            class="lg:hover:text-[#007bff] text-gray-400 block font-semibold text-[15px]"
            >About</a
          >
        </li>
      </ul>
    </div>

    <button id="toggleOpen" class="lg:hidden ml-auto">
      <svg
        class="w-7 h-7"
        fill="#fff"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <div class="flex lg:ml-auto max-lg:w-full">
      <div
        class="flex xl:w-80 max-xl:w-full bg-black px-6 py-3 rounded outline outline-transparent focus-within:outline-[#007bff] focus-within:bg-transparent"
      >
        <input
          type="text"
          placeholder="Search something..."
          class="w-full text-sm bg-transparent text-white rounded outline-none pr-2"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 192.904 192.904"
          width="16px"
          class="cursor-pointer fill-gray-400"
        >
          <path
            d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</header>
<header class="bg-black text-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="inline-flex rounded-md shadow-sm" role="group">
        <button
          type="button"
          class="inline-flex items-center px-0 py-2 text-sm font-normal text-white bg-black rounded-s-lg hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:text-white"
        >
          <svg
            class="w-3 h-3 me-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
            />
          </svg>
          Profile
        </button>
        <button
          type="button"
          class="inline-flex border-solid items-center mx-3 py-2 text-sm font-normal text-white bg-bg-black hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:text-white"
        >
          <svg
            class="w-3 h-3 me-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2"
            />
          </svg>
          Settings
        </button>
        <button
          type="button"
          class="inline-flex items-center py-2 text-sm font-normal text-white bg-black rounded-e-lg hover:bg-gray-700 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:text-white"
        >
          <svg
            class="w-3 h-3 me-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"
            />
            <path
              d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
            />
          </svg>
          Downloads
        </button>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a class="text-white transition hover:text-gray-500" href="#">
                About
              </a>
            </li>

            <li>
              <a class="text-white transition hover:text-gray-500" href="#">
                Careers
              </a>
            </li>

            <li>
              <a class="text-white transition hover:text-gray-500" href="#">
                History
              </a>
            </li>

            <li>
              <a class="text-white transition hover:text-gray-500" href="#">
                Contact
              </a>
            </li>
          </ul>
        </nav>

        <a
          class="block rounded-lg bg-white text-black px-3 py-1.5 text-sm font-medium transition hover:bg-gray-600"
          href="#"
        >
          Login
        </a>
      </div>
    </div>
  </div>
</header>
